<!DOCTYPE html>
<html>

  <head>
    <title>Connecti</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

     <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css">
    
  </head>
  <body>
    
<div id='common-header'>

    <div class='logo'>
      <img src="https://baldwindigital.ie/wp-content/uploads/2014/10/social-media-services.jpg" width="70" style="border-radius: 12px">


    </div>
     <div style="font-size: 25px; text-align: center;">
    <h2>CONNECTi</h2></div>
    <div class='auth-info-links'>
      <% if user_signed_in? %>
      <p><%= current_user.email %></p>
      <p><%= link_to "Sign Out", destroy_user_session_path, method: :delete %> </p>
      <% else %>
     <div class="container" class="btn btn-success"> <p><%= link_to "Sign In", new_user_session_path %></p></div>
      <div class="container" class="btn btn-success"><p> <%= link_to "Sign Up", new_user_registration_path %></p></div>
      <% end %>
    </div>

</div>


    <%= yield %>
  <!--   <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script type="text/javascript" src="js/noty/packaged/jquery.noty.packaged.min.js"></script> -->
  </body>
</html>
